body{
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.con_left{
    width: 100%;

}
.con_right{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.top{
    overflow: hidden;
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    text-align: center;
    display: flex;
    justify-content: flex-start;
  }

.head{
    top : 5px;
    font-size: 32pt;
    float: left;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;


}

.tagline{
    font-size: 12pt;
    font-weight: bold;
    float:right;

}

.table{
    margin-top: 50px;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20px;
}

.btn_group{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.checked{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* text-decoration: line-through; */
}